<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>check out</h1>

  {{!-- {{#each order}}
  {{orderId}}
  {{pizzaType}}
  {{statusCheck}}
  {{amount}}
  {{/each}} --}}
<ul class="list">
    {{#each order}}
    <li class="lists">
 {{orderId}}
  {{pizzaType}}
  {{statusCheck}}
  {{amount}}
  <button class="bton">{{statusCheck}}</button>
  
    </li>
    {{/each}}

</ul>
<button class="newOrd">add-order</button>
  {{!--  --}}

 
</body>
</html>